

.cal-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cal {
    width: 200px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;    
}

.cal > div {
    background-color: orange;
    height: 20px;
    transition: 1s all linear;
    width: 0;
}
.btn{
    margin-top: 10px;
    background-color: plum;
    border-radius: 10px;
    padding: 8px;
    border: none;
    color: rgb(36, 33, 33);
}