*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    width: 50%;
    height: 80vh;
    margin: 40px 25%;
}
.titulo{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mes{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    align-content: center;
    justify-content: center;
    grid-template-columns:  repeat(7, 120px);
    grid-template-rows: minmax(50px, 70px) repeat(7, 75px);
}
/* minmax: ayuda a que un contenedor tenga un minimo y tambien para darle un maximo a un contenedor  */
.item{
    background-color: #d65de3;
    grid-column-start: 4;
    grid-column-end: 4;
    border-radius: 10%;
}
.dia {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 118, 214);
    color: black;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10%;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
    border-radius: 10%;
}
.box, .item {
    background-color: whitesmoke;
    border: 1px solid rgb(195, 195, 195);
    padding: 5px;
}
.box  p {
    text-align: right;
}
.festivo{
    background-color: plum;
    color: white;
}